.container {
    width: 100%;
    background-color: #eeee;
    margin-top: 40;

    .box {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-left: 40;


        .Information {
            display: flex;
            justify-content: center;
            margin-left: 40;

            .left {
                flex: 0.6;
                justify-content: center;

            }

            .rigth {
                flex: 0.9;
                margin-left: 0;
                justify-content: center;
            }
        }
    }
}

.input {
    border: 1px solid #ccc;
    padding: 10;
}

.input:focus,
.input:hover {
    border: none;
    border: 1px solid #ccc;

}