.container {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='28.035' cx='881.9' cy='77.22' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='45.075' cx='204.23' cy='137.86' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/circle%3e%3ccircle r='37.075' cx='809.19' cy='79.68' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/circle%3e%3ccircle r='30.465' cx='455.33' cy='544.22' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/circle%3e%3ccircle r='32.575' cx='992.6' cy='141.39' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='37.235' cx='390.39' cy='104.36' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='21.68' cx='1040.39' cy='46.6' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/circle%3e%3ccircle r='21.18' cx='18.69' cy='461.27' fill='url(%23SvgjsLinearGradient1040)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1035'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='114.07999999999998' y1='137.86' x2='294.38' y2='137.86' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='735.0400000000001' y1='79.68' x2='883.3400000000001' y2='79.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='394.4' y1='544.22' x2='516.26' y2='544.22' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1038'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='997.0300000000001' y1='46.6' x2='1083.75' y2='46.6' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1039'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-23.669999999999998' y1='461.27' x2='61.05' y2='461.27' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1040'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    color: 'black';

    .header__top {
        width: 100%;
        height: 47px;
        background-color: var(--primary-grey-color);
        color: azure;

        .header__top-box {
            font-size: 1.2rem;
            font-weight: 300;
            width: 100%;
            height: 47px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-side,
            .right-side {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .mail {
                    display: flex;
                    align-items: center;

                    & p {
                        margin-left: 10px;
                    }
                }

                .separate {
                    width: 1px;
                    height: 1.5rem;
                    background-color: var(--black-color);
                    margin: 0 1.4rem;
                }
            }

            .right-side {
                justify-content: right;

                .social-media {
                    & a {
                        text-decoration: none;
                        color: var(--black-color);
                        margin: 0 8px;
                    }
                }

                .language {
                    display: flex;
                    align-items: center;

                    & p {
                        margin-right: 8px;
                    }
                }

                .authentication {
                    display: flex;
                    align-items: center;

                    & p {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .header__mid {
        .header__mid-box {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .logo,
            .cart {
                width: 263px;
            }

            .menu {
                justify-content: center;
                align-items: center;

                & ul {
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    align-items: center;

                    & li {
                        font-size: 1.5rem;
                        margin: 0 20px;

                        & a {
                            text-decoration: none;
                            color: var(--text-color);
                            font-weight: 700;
                            transition: all .4s;

                            &:hover {
                                color: var(--primary-color)
                            }
                        }
                    }
                }
            }

            .cart {
                position: relative;
                font-size: 2rem;
                text-align: right;

                &:hover {
                    cursor: pointer;
                }

                .amount-product {
                    position: absolute;
                    top: -5px;
                    right: -9px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        font-size: 1.1rem;
                        color: var(--white-color);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .header__bot {
        .header__bot-box {
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .department,
            .contact {
                width: 263px;
            }

            .department {
                position: relative;
                display: flex;
                padding-left: 30px;
                align-items: center;
                height: 47px;
                font-size: 1.4rem;
                color: var(--white-color);
                font-weight: 700;
                background-color: var(--primary-color);

                & p {
                    margin: 0 30px 0 13px;
                }

                .evt-down {
                    cursor: pointer;
                }

                .drop-down {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 0;
                    top: 100%;
                    background-color: var(--white-color);
                    z-index: 1;
                    border: 2px solid var(--primary-grey-color);
                    border-top: none;
                    transform-origin: 50% 0;
                    animation: dropdown .4s ease-in-out;

                    @keyframes dropdown {
                        0% {
                            transform: scaleY(0);
                            opacity: 30%;
                        }

                        100% {
                            transform: scaleY(1);
                            opacity: 100%;
                        }
                    }

                    .drop-down-list {
                        width: 100%;
                        height: auto;
                        list-style: none;

                        & li {
                            font-size: 1.4rem;
                            font-weight: 400;
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            padding-left: 30px;
                            color: var(--text-color);
                            cursor: pointer;
                        }
                    }
                }
            }

            .contact {
                display: flex;
                justify-content: right;
                align-items: center;

                .contact-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--primary-grey-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;

                    .phone-icon {
                        font-size: 1.4rem;
                        color: var(--primary-color)
                    }
                }

                .contact-detail {
                    .phone-num {
                        font-size: 1.6rem;
                        font-weight: 700;
                        color: #fff;
                    }

                    .time-contact {
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;

                    }
                }
            }
        }
    }
}



.menu_an {
    background-color: #ffffffee;
    width: 100%;
    height: 100%;
    position: absolute;
    // top: 47px;
    // right: 100px;
    z-index: 1;
    // display: none;
    line-height: 40px;
    font-size: 26px;
    background-color: 'white';
    flex: 1;

}

.name_hover:hover menu_an {
    display: block;
}

.authentication:hover menu_an {
    display: block;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;

    }

    .header__bot {
        display: none;
    }

    .cart {
        display: none;

    }

    .contact {
        display: none;
    }

    .menu {
        width: 100%;
        // display: flex;
        // display: none;
        margin-left: -30px;
        margin-top: 15px;
    }

    .social-media {
        display: none;
    }

    .menu_an {
        right: 0;
    }

    .menu_fake1 {
        // width: 50%;

    }

}


.menu_fake1 {
    height: 100%;
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 250px;
    padding-top: 60px;
    background-color: #212121;
    // transition: 0.5s;
    // transform: translateX(-250px);
}

.logo a {
    padding: 15px 25px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /*margin-left: 5px*/
}

.logo a img {
    max-width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.ul .li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    /*text-align: center;*/
    padding-left: 25px;
}

.ul .li:hover {
    padding-left: 35px;
    background-color: #445665;
}

.ul .li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#open {
    display: none;
}

.open {
    height: 80px;
    width: 80px;
    /*position: absolute;*/
    /*background-color: #000;*/
}

.open i {
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 25px;
    background-color: #000;
    padding: 15px 15px;
    color: white;
    z-index: 99;
}

#open:checked~.menu_fake1 {
    transition: 0.5s;
    transform: translateX(0);
}

#open:checked~.open i {
    transition: 0.5s;
    margin-left: 190px;
    position: absolute;
}